<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div><span><%= memberInfo.name %></span>님 환영합니다.</div>
    <div>당신의 성별은 남자입니까 <span><%= memberInfo.male %></span></div>
    <div>당신의 성별은 여자입니까 <span><%= memberInfo.female %></span></div>
    <div>당신의 관심사는 여행입니까 <span><%= memberInfo.travel %></span></div>
    <div>당신의 관심사는 패션입니까 <span><%= memberInfo.fashion %></span></div>
    <div>당신의 관심사는 음식입니까 <span><%= memberInfo.food %></span></div>
  </body>
</html>
